.final {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: aquamarine;
  align-items: center;
}

.final__container {
  width: 70%;
  height: 50vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: aqua;
  border-radius: 20px;
  box-shadow: 1px -1px 20px 1px white,1px 1px 50px 1px rgb(53, 155, 168) inset;
}
.final__container > p {
  font-size: 72px;
  font-weight: 800;
  text-align: center;
}

.final__container > .MuiButtonBase-root {
margin-top: 40px;
}


@media all and (max-width : 800px){
  .final__container > p {
    font-size: 42px;
    font-weight: 400;
    width: 100%;
  }
  .final__container {
    width: 90%;
  }
}